
.glossy .image-wrap {
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5) inset;
}
.current-player {
    box-shadow: 0 1px 5px #444444;
}
.nought_won {
    background-image: url("../Media/nought.svg");
    background-size: 440px 440px;
}
.nought {
    background-image: url("../Media/nought.svg");
    background-size: 140px 140px;
}
.nought_mini {
    background-image: url("../Media/nought.svg");
    background-size: 44px 44px;
}
.cross_won {
    background-image: url("../Media/cross.svg");
    background-size: 440px 440px;
}
.cross {
    background-image: url("../Media/cross.svg");
    background-size: 140px 140px;
}
.cross_mini {
    background-image: url("../Media/cross.svg");
    background-size: 44px 44px;
}
.done {
    opacity: 0.3;
}
.draw_won {
    background-image: url("../Media/draw.svg");
    background-size: 440px 440px;
}
.draw {
    background-image: url("../Media/draw.svg");
    background-size: 140px 140px;
}
body > * {
    color: #000000;
    display: block;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    overflow: hidden;
}
body > script {
    display: none;
}
header > * {
    display: inline-table;
}
section p {
    margin-left: 20px;
    margin-right: 20px;
}
header {
    background-color: #205081;
    height: 38px;
    font-family: Arial,sans-serif;
}
section {
    background-color: #FFFFFF;
    /* box-shadow: 0 10px 10px #000000; */
    height: 100%;
    z-index: -1;
}

#copyright {
    background-color: #003366;
    /* border-bottom-left-radius: 15px; */
    /* border-bottom-right-radius: 15px; */
    /* box-shadow: 0 5px 10px #000000; */
    color: #7CA60A;
    line-height: 40px;
    text-align: center;
    position: absolute;
    height: 40px;
    bottom: 0px;
    width:100%;
}
#maingame {
    background-color: #000000;
    border-spacing: 2px;
    height: 440px;
    left: 0;
    margin: 20px auto;
    overflow: scroll;
    right: 0;
    width: 440px;
}
.subgame {
    background-color: #000000;
    border-spacing: 2px;
    border-style: none;
    height: 142px;
    text-align: center;
    width: 142px;
}
.subgame td {
    height: 33%;
    width: 33%;
}
.open {
    background: none repeat scroll 0 0 #FFFFFF;
}
.open:hover {
    background-size: 44px 44px !important;
    box-shadow: 0 0 10px #000000 inset;
}
section table tr td {
    background-color: #C0C0C0;
    text-align: center;
}
section table tr td {
    background-color: #C0C0C0;
}

header h1 {
    font-size: 16px;
    /* text-shadow: 2px 2px 2px #9C9C9C; */
    color: #FFFFFF;
    font-weight: bolder;
    padding-left: 1em;
}

#logo {
         height:42px;
         float:left;
         visibility: visible;
    }

#logo:hover {
    background-color: #5f8dbe;
    cursor: pointer;
    -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

#logo:hover + #home_icon {
        background-color: #5f8dbe;
        cursor: pointer;
        -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
    }

#pending_games h2 {
    font-weight: lighter;
}
#home_icon{
    height:42px;
}

#home_icon:hover {
    background-color: #5f8dbe;
    cursor: pointer;
     -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}


#action_icon{
    height:42px;
}

#action_icon:hover {
    background-color: #5f8dbe;
    cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

#action_icon:hover + .menu {
    visibility: visible;
}

#login_info {
    color: #FFFFFF;
    float: right;
    font-size: 11px;
    height: 100%;
    line-height: 50%;
    position: relative;
    overflow: visible;
    width: 7.0em;
    padding-top: 6px;
}

#login_info img {
    border: 1px solid #FFFFFF;
    float: right;
    height: 24px;
    /* margin-top: 2px; */
    margin-right: 0.7em;
}
#login_info:hover {
     background-color: #5f8dbe;
     cursor: pointer;
        -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#user_email_link {
    text-decoration: none;
    color: #FFFFFF;
}

#player1, #player2 {
    background: none repeat scroll 0 0 #D6D6D6;
    /* border: 1px solid #333333; */
    /* border-radius: 1em 1em 1em 1em; */
    height: 90%;
    /* margin-top: 20px; */
    padding: 10px;
    text-align: center;
    width: 10em;
    position: absolute;
    z-index: -1;
}
section img {
    border: 2px solid #FFFFFF;
    /* border-radius: 5px 5px 5px 5px; */
    float: left;
    height: 156px;
    margin-bottom: 10px;
    margin-top: 10px;
}
section input {
    margin-bottom: 10px;
    margin-top: 10px;
}
h3 {
    text-align: center;
    text-shadow: 0.5px 0.5px 0.5px #9C9C9C;
}
#player1 {
    float: left;
}
#player2 {
    float: right;
}
#chart {
    border: 1px solid #333333;
    height: 320px;
    margin-left: 200px;
    margin-top: 20px;
    padding: 10px;
    width: 570px;
}
#pieChart {
    float: right;
    height: 150px;
    margin-top: 100px;
    text-align: center;
    width: 200px;
}
#linechart {
    border: 1px solid #333333;
    float: right;
    height: 150px;
    text-align: center;
    width: 270px;
}
#barchart {
    border: 1px solid #333333;
    height: 150px;
    margin-left: 50px;
    margin-top: 160px;
    text-align: center;
    width: 450px;
}
#login-wrapper {
    background-color: #FFFAF0;
    border: 1px solid #333333;
    box-shadow: 0 10px 10px #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 300px;
}
#invited {
    border: 1px solid #333333;
    height: 75px;
    margin-left: 200px;
    margin-top: 5px;
    overflow: scroll;
    padding: 10px;
    width: 570px;
}
#turnCounter {
    background-color: #EEE9E9;
    border: 1px solid #333333;
    box-shadow: 0 10px 10px #000000;
    float: right;
    height: 100px;
    margin-top: 20px;
    text-align: center;
    width: 300px;
}
#pending_games, #change_profile {
    float: left;
    margin-left: 14em;
    text-align: center;
    width: 70%;
    position: absolute;
}
#open_games {
    height: 100%;
    overflow: auto;
    /* padding: 1px; */
    position: absolute;
    width: 100%;
    /* z-index: 128374; */
}
.pending_game h4, h5 {
    line-height: 0;
}
.pending_game button {
    margin-bottom: 10px;
    margin-top: 0;
}
button, #loginbtn, #saveChanges {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #EEEEEE;
    background-image: linear-gradient(0deg, #EEEEEE, #CCCCCC);
    border-color: #CCCCCC #CCCCCC #BBBBBB;
    border-image: none;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    font: bold 11px/1 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    margin-top: 10px;
    padding: 8px 0;
    text-align: center;
    text-shadow: 0 1px 0 #EEEEEE;
    width: 150px;
}
button:hover, #loginbtn:hover, #saveChanges:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #DDDDDD;
    background-image: linear-gradient(0deg, #DDDDDD, #BBBBBB);
    border-color: #BBBBBB #BBBBBB #999999;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    text-shadow: 0 1px 0 #DDDDDD;
}
button:active, #loginbtn:active, #saveChanges:active {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #AAAAAA #AAAAAA #888888;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 5px 2px #AAAAAA inset, 0 1px 0 0 #EEEEEE;
}
form h3 {
    text-align: center;
}
form ul {
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
}
#password {
    margin-left: 78px;
}
#loginbtn {
    margin-left: 38px;
    padding: 5px 0;
}
#beforelog {
    float: left;
}
#gametext {
    font: 450% arial,sans-serif;
    text-shadow: 2px 2px #888888;
}
#waittext {
    font: 300% arial,sans-serif;
    text-shadow: 2px 2px #888888;
}
body {
    background: url("../Media/pattern.png") repeat scroll 0 0 #F5F5F5;
    display: block;
    margin: 0;
    padding: 0;
    /* position: absolute; */
    width: 100%;
}
#openId {
    margin-left: 7px;
}
#password {
    margin-left: 2px;
}
#spinner {
    border: medium none;
    height: 16px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 16px;
}

#myForm {
    height: 180px;
    padding: 0 20px;
    position: relative;
}
#myForm fieldset {
    border: medium none;
}
.col_f_1 {
    display: block;
    float: left;
    margin-right: 70px;
    width: 220px;
}
.col_f_2 {
    display: block;
    float: left;
    width: 220px;
}
#myForm label {
    display: block;
    margin-top: 10px;
    text-align: left;
}
#myForm b {
    margin-left: 5px;
}
#myForm button {
    margin: 20px 40px;
}
#myForm input, select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 3px solid #E0E8C6;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 3px 3px #8BA82C;
    color: #555555;
    display: block;
    margin: 2px 0 5px;
    padding: 3px;
    width: 210px;
}
#myForm select {
    width: 220px;
}
#myForm input:hover, select:hover {
    box-shadow: 0 0 0 #D3F8B4;
}
.savebuttonvisable {
    left: 345px;
    position: relative;
    top: -150px;
}
.savebuttonINvisable {
    display: none;
    left: 345px;
    position: relative;
    top: -150px;
}
#lock_image {
    height: 16px;
    position: relative;
    width: 16px;
}
.private_game_button {
    background: url("../Media/lock.png") no-repeat scroll left center rgba(0, 0, 0, 0);
}
.private_game_button *:hover {
    background: url("../Media/lock.png") no-repeat scroll left center rgba(0, 0, 0, 0);
}


#me {
    position: relative;
    top: 14px;
    float: left;
    padding-left: 3px;

}



.menu {
    background: #205081;
    position: absolute;
    height: 92%;
    width: 13em;
    top: 1.3em;
    padding-left: 10px;
    padding-top:10px;
    line-height: 40px;
    visibility: hidden;

}

.menu:hover {
    visibility: visible;
}

.menu a {
     text-decoration: none;
     color: #FFFFFF;
     font-family: 'Roboto', sans-serif;
     padding: 5px 5px 5px 5px;
}

.menu a:hover {
    background-color: #5f8dbe;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}



}

