body {
	background: none repeat scroll 0% 0% rgb(206, 227, 248);
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-family: arial,verdana,helvetica,sans-serif;
	font-size: 72px;
}

#browser_links  h1 {
	font-size: 32px;
}

#monimg {
	position: fixed;
	bottom: 0px;
	padding-bottom: 0px;
}