.dialog {
	z-index: 2;
	position: absolute;
	top: 20px;
	left: 0;
	right:0;
	width: 600px;
	height: 400px;
	background-color: #fbfbfb;
	box-shadow: 0 10px 10px #000000;
	border: 2px solid #909090;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	padding:0px;
}

.dialog-titleBar {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	text-align: left;
	background-color: #cbcbcb;
	border: 1px solid lightgray;
	border-top:0px;
	padding-left: 10px;
}

.dialog-close {
	width: 20px;
	height:20px;
	float: right;
	position: relative;
	background-image: url(../Media/closebutton.png);
	cursor: pointer;
	border: 1px solid #7f7f7f;
	margin-right:10px;
}

.dialog-body {
	
	background-color: #fbfbfb;
}

.dialog table{
	margin-left: 100px;
	margin-top: 20px;
	
}

.dialog-table-icon{
	background: url(../Media/Icon_bot.png) 1px 1px no-repeat; 
	width: 30px;
	height:30px;

}

.dialog-table-iconDelete {
	width: 22px;
	height:17px;
	background: url(../Media/Delete_Icon.png) 1px 1px no-repeat;
}

.dialog-table-name{
	cursor: pointer;
}

.dialog-table-name:hover {
	background-color: #e4e4e4;
	box-shadow: 3px 3px 3px #8ba82c;
}

.dialog-table-name a{
	padding: 0 10px;
}
