/* @group Body */

body {
  padding: 0px;
  margin: 0px;
  background: #f5f5f5 url('../Media/pattern.png');
}

body > * {
	margin: auto;
	width: 840px;
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'Finger Paint', cursive;
}

/* @end */

iframe{
	width:100%;
	height:98%;
} 

/* @group Header */

header {
	box-shadow: 0 10px 10px #000000;
	border-bottom: 1px solid #7f7f7f;
	background: rgb(243,243,243);
	background: -moz-linear-gradient(top, rgba(243,243,243,1) 0%, rgba(218,218,218,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,243,243,1)), color-stop(100%,rgba(218,218,218,1)));
	background: -webkit-linear-gradient(top, rgba(243,243,243,1) 0%,rgba(218,218,218,1) 100%);
	background: -o-linear-gradient(top, rgba(243,243,243,1) 0%,rgba(218,218,218,1) 100%);
	background: -ms-linear-gradient(top, rgba(243,243,243,1) 0%,rgba(218,218,218,1) 100%);
	background: linear-gradient(to bottom, rgba(243,243,243,1) 0%,rgba(218,218,218,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#dadada',GradientType=0 );
	
	padding-top: 10px;
	height: 57px;
}
	header h1 {
		width: 400px;
		line-height: 13px;
		float: left;
	}
	
	header b {
		display: none;
	}
	
	header img {
		height: 45px;
		float: right;
		margin-left: 20px;
	}
	
	header #profile_link {
		opacity: .6;
		-webkit-transition-duration: 0.8s;
		-moz-transition-duration: 0.8s;
		-o-transition-duration: 0.8s;
		transition-duration: 0.8s;
		-webkit-transition-property: -webkit-transform;
		-moz-transition-property: -moz-transform;
		-o-transition-property: -o-transform;
		transition-property: transform;
		overflow:hidden;
	}
	
	header #profile_link:hover {
		opacity: 1;
		-webkit-transform:rotate(360deg);
	    -moz-transform:rotate(360deg);
	    -o-transform:rotate(360deg);
	}
	
	header #user_image {
		border: 2px solid #909090;
		border-radius: 5px;
		height: 43px;
		opacity: .9;	
	}
	
	header #user_image:hover {
		opacity: 1;
	}

/* @end */

/* @group Navigation */

nav {
	width: 880px;
	padding: 0px;
	height: 35px;
	background: rgb(214,214,214);
	background: -moz-linear-gradient(top,  rgba(214,214,214,1) 2%, rgba(197,197,197,1) 33%, rgba(197,197,197,1) 67%, rgba(214,214,214,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(214,214,214,1)), color-stop(33%,rgba(197,197,197,1)), color-stop(67%,rgba(197,197,197,1)), color-stop(100%,rgba(214,214,214,1)));
	background: -webkit-linear-gradient(top,  rgba(214,214,214,1) 2%,rgba(197,197,197,1) 33%,rgba(197,197,197,1) 67%,rgba(214,214,214,1) 100%);
	background: -o-linear-gradient(top,  rgba(214,214,214,1) 2%,rgba(197,197,197,1) 33%,rgba(197,197,197,1) 67%,rgba(214,214,214,1) 100%);
	background: -ms-linear-gradient(top,  rgba(214,214,214,1) 2%,rgba(197,197,197,1) 33%,rgba(197,197,197,1) 67%,rgba(214,214,214,1) 100%);
	background: linear-gradient(to bottom,  rgba(214,214,214,1) 2%,rgba(197,197,197,1) 33%,rgba(197,197,197,1) 67%,rgba(214,214,214,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#d6d6d6',GradientType=0 );
		box-shadow: 0 10px 10px #000000;
	border-bottom: 1px solid #7f7f7f;
}
nav ul {
	margin: 0px;
	padding: 0px;
	width: 100%;
    overflow: hidden;
    display: inline-block;
}

nav ul li {
	width: 20%;
    float: left;
    list-style: none;
    text-align: center;
    line-height: 35px;
}

nav ul li:hover {
	background-color: #e4e4e4;
}

nav ul li a {
	text-decoration: none;
	cursor: pointer;
	color: #4d4d4d;
}

nav ul li ul {
	background-color: #cbcbcb;
	border: 1px solid #7f7f7f;
	display: none;
	width: 99%;
	position: relative;
	z-index: 2;
}

nav ul li:hover ul {
	display: block;
}

nav ul li:hover ul li {
	width: 100%;
}

nav ul li:hover ul li:hover {
	background-color: #e4e4e4;
}

/* @end */

/* @group Section */

section {
	height: 460px;
	box-shadow: 0 10px 10px #000000;
	background-color: white;
	z-index: -1;
	padding-top: 20px;
}

/* @end */

/* @group Footer */

footer {
	height: 30px;
	text-align: center;
	line-height: 5px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	background: rgb(243,243,243);
	background: -moz-linear-gradient(top, rgba(243,243,243,1) 0%, rgba(218,218,218,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,243,243,1)), color-stop(100%,rgba(218,218,218,1)));
	background: -webkit-linear-gradient(top, rgba(243,243,243,1) 0%,rgba(218,218,218,1) 100%);
	background: -o-linear-gradient(top, rgba(243,243,243,1) 0%,rgba(218,218,218,1) 100%);
	background: -ms-linear-gradient(top, rgba(243,243,243,1) 0%,rgba(218,218,218,1) 100%);
	background: linear-gradient(to bottom, rgba(243,243,243,1) 0%,rgba(218,218,218,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#dadada',GradientType=0 );
	
	box-shadow: 0 5px 10px #000000;
	border-top: 1px solid #7f7f7f;
}

footer span {
	position: absolute;
	left: 0px;
	right: 0px;
	line-height: 30px;
}

/* @end */

#maingame {
	border-spacing: 2px;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 440px;
	height: 440px;
	background-color: black;
	overflow:scroll;
}

.subgame {
	width: 142px;
	height: 142px;
	border-spacing: 2px;
	text-align: center;
	background-color: black;
	border-style: none;
}

.subgame td {
	width: 33%;
	height: 33%;
}
.open{
    background:white;
}

.open:hover {
	background-size:44px 44px !important;
	box-shadow: inset 0px 0px 10px black;
}

section table tr td {
	background-color: silver;
	text-align:center;
}

section table tr td {
	background-color: silver;
}

#player1, #player2 {
	border: 1px solid #333;
	width: 160px;
	height: 420px;
	padding: 10px;
	text-align: center;
	background: #fbfbfb;
}

#player1 {
	float: left;
}

#player2 {
	float: right;
}
#player2 ul{
	margin:0px;
	padding:0px;
}
#player2 button, #control button{
	width:30%;
}

section img {
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
	border: 2px solid #909090;
	height: 156px;
	border-radius: 5px;	
}

section input {
	margin-top: 10px;
	margin-bottom: 10px;
}

h3 {
	text-align: center;
	text-shadow: 0.5px 0.5px 0.5px #9c9c9c;
}

#invited{
	border: 1px solid #333;
	width:570px;
	margin-left:200px;
	margin-top: 5px;
	padding: 10px;
	height:75px;
	overflow:scroll;
}

#turnCounter{
	float:right;
	border:1px solid #333;
	box-shadow:0 10px 10px #000000;
	width:300px;
	height:100px;
	margin-top:20px;
	text-align:center;
	background-color:#eee9e9;
}

#pending_games,#change_profile {
	text-align: center;
	float: left;
	margin-left: 30px;
	width: 620px;
}

#open_games {
	overflow: auto;
	height: 385px;
	padding: 1px;
}



.pending_game h4, h5 {
	line-height: 0px;
}

.pending_game button {
	margin-top: 0px;
	margin-bottom: 10px;
}

button,#loginbtn,#saveChanges {
  margin-top: 10px;
  background-color: #eeeeee;
  background-image: linear-gradient(0deg, #eeeeee, #cccccc);
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  border-radius: 3px;
  color: #333;
  font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  line-height: 1;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  width: 150px; }
  button:hover , #loginbtn:hover, #saveChanges:hover{
    background-color: #dddddd;
    background-image: linear-gradient(0deg, #dddddd, #bbbbbb);
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd; }
  button:active , #loginbtn:active, #saveChanges:active{
    border: 1px solid #aaa;
    border-bottom: 1px solid #888;
    box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee; 
}
form h3{text-align: center;}

form ul  {list-style: none outside none; margin: 0px; overflow: hidden; }

#password{margin-left:78px;}
#loginbtn{margin-left:38px; padding:5px 0;}
#beforelog{float:left;}
#gametext{text-shadow:2px 2px #888888;font:normal 450% arial,sans-serif;}
#waittext{text-shadow:2px 2px #888888;font:normal 300% arial,sans-serif;}

#openId{margin-left: 7px;}
#password{margin-left: 2px;}

#spinner{
	position: absolute;
	margin: auto;
	left: 200px;
	right: 0px;
	height: 16px;
	width: 16px;
	border: none;
}

td #spinner{
	left: 0px;
}

#myForm {
	position: relative;
	padding: 0px 20px;
	height: 180px;
}

#myForm fieldset {
	border: none;
}

.col_f_1 {
	float: left;
	width: 220px;
	display: block;
	margin-right: 70px;
}

.col_f_2 {
	float: left;
	width: 220px;
	display: block;
}

#myForm label {
	margin-top: 8px;
	display:block;
	text-align: left;
}

#myForm b{
	margin-left: 5px;
}

#myForm button {
	margin: 10px 40px;
}

#myForm input, select {
	padding: 3px;
	display: block;
	margin :2px 0 5px 0;
	width: 210px;
	background: #fff;
	color: #555; 
	border: 3px solid #e0e8c6;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	-moz-box-shadow: 3px 3px 3px #8ba82c;
	-webkit-box-shadow:  3px 3px 3px #8ba82c;
	box-shadow:  3px 3px 3px #8ba82c;
}

#myForm select{
	width: 220px;
}

#myForm input:hover, select:hover { 	    
	-webkit-box-shadow: 0px 0px 0px #D3F8B4;
	-moz-box-shadow: 0px 0px 0px #D3F8B4; 
	box-shadow: 0px 0px 0px #D3F8B4;	
	}

.savebuttonvisable{
	position:relative;
	top:-150px;
	left:345px;
}
.savebuttonINvisable{
	display:none;
	position:relative;
	top:-150px;
	left:345px;
}

#lock_image {
	height: 16px;
	width: 16px;
	position: relative;
}

.public_button {
	width: 100%;
	border-radius: 0px;
	background: -webkit-linear-gradient(90deg, #eeeeee, #cccccc) 1px no-repeat #eeeeee;
	background: -moz-linear-gradient(90deg, #eeeeee, #cccccc) 1px no-repeat #eeeeee;
	background: -ms-linear-gradient(90deg, #eeeeee, #cccccc) 1px no-repeat #eeeeee;
	background: -o-linear-gradient(90deg, #eeeeee, #cccccc) 1px no-repeat #eeeeee;
	background: linear-gradient(0deg, #eeeeee, #cccccc) 1px no-repeat #eeeeee;
}

.private_game_button {
	width: 100%;
	border-radius: 0px;
	background: url(../Media/Black_Lock.png) 1px 1px no-repeat, -webkit-linear-gradient(90deg, #eeeeee, #cccccc) 1px no-repeat #eeeeee;
	background: url(../Media/Black_Lock.png) 1px 1px no-repeat, -moz-linear-gradient(90deg, #eeeeee, #cccccc) 1px no-repeat #eeeeee;
	background: url(../Media/Black_Lock.png) 1px 1px no-repeat, -ms-linear-gradient(90deg, #eeeeee, #cccccc) 1px no-repeat #eeeeee;
	background: url(../Media/Black_Lock.png) 1px 1px no-repeat, -o-linear-gradient(90deg, #eeeeee, #cccccc) 1px no-repeat #eeeeee;
	background: url(../Media/Black_Lock.png) 1px 1px no-repeat, linear-gradient(0deg, #eeeeee, #cccccc) 1px no-repeat #eeeeee;
}

.private_game_button:hover {
	background: url(../Media/Black_Lock.png) 1px 1px no-repeat, linear-gradient(0deg, #dddddd, #bbbbbb);
}

.glossy .image-wrap {
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.5);
	border-radius: 15px;
}
.current-player {
	box-shadow: 0px 1px 5px #444;
}

.nought_won {
  background-image: url('../Media/nought.svg');
	background-size:  440px 440px;
	color:white;
}
.nought {
	background-image: url('../Media/nought.svg');
	background-size: 140px 140px;
}
.nought_mini {
  background-image: url('../Media/nought.svg');
	background-size:  44px 44px;
}
.nought_th {
  background-image: url('../Media/noughtTh.svg');
	background-size:  44px 44px;
}

.cross_won {
  background-image: url('../Media/cross.svg');
	background-size:  440px 440px;
	color:white;
}
.cross {
  background-image: url('../Media/cross.svg');
	background-size:  140px 140px;
}
.cross_mini {
  background-image: url('../Media/cross.svg');
	background-size:  44px 44px;
}
.cross_th {
  background-image: url('../Media/crossTh.svg');
	background-size:  44px 44px;
}

.done {
	opacity:0.3;
}
.draw_won{
  background-image: url('../Media/draw.svg');
	background-size:  440px 440px;
	color:s;
}
.draw {
  background-image: url('../Media/draw.svg');
	background-size:  140px 140px;
}

.toast {
	position:relative;
	padding-right: 0.5px;
	top:500px;
	left:650px;
	background: url(../Media/toast.png) 1px 1px no-repeat, linear-gradient(0deg, #fdfdfd, #ffffff);
	box-shadow: 5px 5px 5px #000000;
	border: 2px solid #7f7f7f;
	text-align: right;
	height: 80px;
	width: 210px;
	right:0;
	/*margin: auto;*/
}

ul{
	list-style: none;
}

#tooltip {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 230px;
	width: 300px;
	height: 200px;
	padding: 10px;
	border: 1px solid #333;
	border-radius: 5px;
	box-shadow: 0 0 4px #000000;
	background-color: #f3f3f3;
	display: block;
}
	
	#tooltip p {
		font-size: 16px;
	}
	
	#tooltip #buttons {
		position: absolute;
		width: auto;
		left: 10px;
		right: 10px;
		bottom: 10px;
		border-top-style: inset;
		border-top-width: 1px;
		text-align: center;
	}
	
	#tooltip input {
		width: 140px;
		margin: 3px;
		margin-top: 14px;
		line-height: 0;
		color: #818181;
	}
	
	#tooltip input:hover {
		color: black;
		cursor: pointer;
	}

.highlight {
	box-shadow:inset 0 0 10px red;
}

#edit-bot-name {
	position: relative;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 2px solid lightgray;
	background: url(../Media/java.svg) 1px 1px no-repeat, linear-gradient(0deg, #928e8e, #ffffff); 
	background-size: 4%;
	width: 587px;
	padding: 0 8px;
	padding-left: 30px;
	height: 25px;
	float: left;
}

#editor-container {
	position: relative;
	border: 1px solid lightgray;
	float: left;
	padding: 8px;
	height: 394px;
	width: 610px;
}

#control{
    position:relative;
    float: right;
    border: 1px solid #333;
    width: 180px;
    height: 421px;
    padding: 8px;
    text-align: center;
    background-color: #fbfbfb;

}

#control ul{
    list-style: none;
    margin:0;
    padding:0;
    position:relative;
    background: #E6E6E6;
    padding:5px;
    border-radius:5px;
}

#video {
	border-spacing: 2px;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 590px;
	background-color: black;
}
