/* @group Classes */

/* IMG styles */
.glossy .image-wrap {
	/*-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.5);
	-moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,.5);*/
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.5);

	/*-webkit-border-radius: 20px;
	-moz-border-radius: 20px;*/
	border-radius: 15px;
}

/* Board Styles */
.current-player {
	box-shadow: 0px 1px 5px #444;
}
.nought_won {
  background-image: url('../Media/nought.svg');
	background-size:  440px 440px;
}
.nought {
	background-image: url('../Media/nought.svg');
	background-size: 140px 140px;
}
.nought_mini {
  background-image: url('../Media/nought.svg');
	background-size:  44px 44px;
}
.cross_won {
  background-image: url('../Media/cross.svg');
	background-size:  440px 440px;
}
.cross {
  background-image: url('../Media/cross.svg');
	background-size:  140px 140px;
}
.cross_mini {
  background-image: url('../Media/cross.svg');
	background-size:  44px 44px;
}
.done {
	opacity:0.3;
}
.draw_won{
  background-image: url('../Media/draw.svg');
	background-size:  440px 440px;
	/*color:#a65f00;*/
}
.draw {
  background-image: url('../Media/draw.svg');
	background-size:  140px 140px;
}
/* @end */

/* @group Layout */

/*Global Styles*/

body > *  {
	margin: auto;
	width: 840px;
	display: block;
	overflow: hidden;
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'Finger Paint', cursive;
	color: #a65f00;
}

body > script {
	display: none
}

header > * {
	display: inline-table;
}



section p {
	margin-left: 20px;
	margin-right: 20px;
}

/*Format Styles*/

header {
	height: 80px;
	box-shadow: 0 10px 10px #000000;
	border-top: 1px solid #7f7f7f;
	border-bottom: 1px solid #7f7f7f;
	background-color: #C8F6AE;
}

section {
	height: 480px;
	box-shadow: 0 10px 10px #000000;
	background-color: white;
	z-index: -1;
}

footer {
	height: 120px;
	box-shadow: 0 10px 10px #000000;
}

#copyright {
	color: #000000;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color: #C8F6AE;
	box-shadow: 0 5px 10px #000000;
}

/* @end */

/* @group tables */

/* @group Section Table */

#maingame {
	border-spacing: 2px;
	margin: 20px;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 440px;
	height: 440px;
	background-color: black;
	overflow:scroll;
}

.subgame {
	width: 142px;
	height: 142px;
	border-spacing: 2px;
	text-align: center;
	background-color: black;
	border-style: none;
}

.subgame td {
	width: 33%;
	height: 33%;
}
.open{
    background:white;
}
.open:hover {
	background-size:44px 44px !important;
	box-shadow: inset 0px 0px 10px black;
}

section table tr td {
	background-color: silver;
	text-align:center;
}

section table tr td {
	background-color: silver;
}

/* @end */

/* @group Footer Table */

footer table {
	border-collapse: collapse;
	border-spacing: 0px;
	margin-left: -20px !important;
	margin-right: -20px !important;
	text-align: center;
	width: 880px;
	height: 100%;
}

footer table tr:first-child {
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	background-color: #D3F8B4;
	color: #a65f00;
	border-top: 1px solid #7f7f7f;
	border-bottom: 1px solid #7f7f7f;
}

footer table tr {
	background-color: #f9f9f9;
	color: #8c8c8c;
	font-size: 15px;
}

footer table td {
	width: 30%;
}

footer table a:hover {
	text-shadow: 0 0 1px #000000;
}

/* @end */

/* @group Div Styles */

/*Indervidual Styles*/

header h1 {
		text-shadow: 2px 2px 2px #9c9c9c;
  		font-size: 35px;
}

#login_info {
	width: 250px;
	height: 70px;
	margin-top: 5px;
	float: right;
	color: #000000;
	font-size: 11px;
	line-height: 23px;
	overflow:visible;
}

#login_info > b > a{
	text-decoration: none;
	color: #a65f00;
}

#login_info > b > a:hover {
 color: orange;
 text-decoration: none;
}

#login_info img {
	margin-top: 2px;
	margin-right: 10px; 
	float: left;
	border: 2px solid #909090;
	height: 62px;
	border-radius: 5px;
}

/*#login_info #me {
	float: left;
	overflow: visible;
}*/

#player1, #player2 {
	border: 1px solid #333;
	margin-top: 20px;
	width: 160px;
	height: 420px;
	padding: 10px;
	border-radius:1em;
	text-align: center;
	background:#C8F6AE;
}

section img {
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
	border: 2px solid #909090;
	height: 156px;
	border-radius: 5px;	
}

section input {
	margin-top: 10px;
	margin-bottom: 10px;
}

h3{
	text-align: center;
	text-shadow: 0.5px 0.5px 0.5px #9c9c9c;
}

#player1 {
	float: left;
}

#player2 {
	float: right;
}

#chart{
	border: 1px solid #333;
	margin-top: 20px;
	margin-left: 200px;
	width: 570px;
	height: 320px;
	padding: 10px;
}

#pieChart{
	width: 200px;
	height: 150px;
	float:right;
	text-align: center;
	positon: relative;
	margin-top: 100px;
}

#linechart{
	border: 1px solid #333;
	width: 270px;
	height: 150px;
	float:right;
	text-align: center;
}

#barchart{
	border: 1px solid #333;
	width: 450px;
	height: 150px;
	margin-left:50px;
	text-align: center;
	margin-top:160px;
}

#login-wrapper{
	border: 1px solid #333;
	box-shadow:0 10px 10px #000000;
	width:300px;
	margin-top:100px;
	margin-left:auto;
	margin-right:auto;
	background-color:#fffaf0;
}

#invited{
	border: 1px solid #333;
	width:570px;
	margin-left:200px;
	margin-top: 5px;
	padding: 10px;
	height:75px;
	overflow:scroll;
}

#turnCounter{
	float:right;
	border:1px solid #333;
	box-shadow:0 10px 10px #000000;
	width:300px;
	height:100px;
	margin-top:20px;
	text-align:center;
	background-color:#eee9e9;
}

#pending_games,#change_profile {
	text-align: center;
	float: left;
	margin-left: 30px;
	width: 620px;
}

#open_games {
	overflow: auto;
	height: 385px;
	padding: 1px;
}



.pending_game h4, h5 {
	line-height: 0px;
}

.pending_game button {
	margin-top: 0px;
	margin-bottom: 10px;
}

/* @end */

/* @group Global Styles */

button,#loginbtn,#saveChanges {
  margin-top: 10px;
  background-color: #eeeeee;
  background-image: linear-gradient(0deg, #eeeeee, #cccccc);
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  /*-webkit-border-radius: 3px;
  -moz-border-radius: 3px;*/
  border-radius: 3px;
  color: #333;
  font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  line-height: 1;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  width: 150px; }
  button:hover , #loginbtn:hover, #saveChanges:hover{
    background-color: #dddddd;
    background-image: linear-gradient(0deg, #dddddd, #bbbbbb);
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd; }
  button:active , #loginbtn:active, #saveChanges:active{
    border: 1px solid #aaa;
    border-bottom: 1px solid #888;
    /*-webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;*/
    box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee; 
}
form h3{text-align: center;}

form ul  {list-style: none outside none; margin: 0px; overflow: hidden; }

#password{margin-left:78px;}
#loginbtn{margin-left:38px; padding:5px 0;}
#beforelog{float:left;}
#gametext{text-shadow:2px 2px #888888;font:normal 450% arial,sans-serif;}
#waittext{text-shadow:2px 2px #888888;font:normal 300% arial,sans-serif;}

/* @end */

/*-----------background-------------*/
body {
  padding: 0px;
  margin: 0px;
  position: relative;
  width: 100%;
  display: block;
  background: #f5f5f5 url('../Media/pattern.png');
}


/*-----------login-------------*/
#openId{margin-left: 7px;}
#password{margin-left: 2px;}
/* @end */

/** Toms Stuff */

#spinner{
	position: absolute;
	margin: auto;
	left: 0px;
	right: 0px;
	height: 16px;
	width: 16px;
	border: none;
}

/*-----------menu-------------*/
#nav_menu {
  border-bottom: 1px solid #7f7f7f;
  list-style: none;
  line-height: 1em;
  width:840px;
  background: #D3F8B4;
  box-shadow: 0 10px 10px #000000;
  overflow: visible;
  padding-top: 1px;
  padding-right: 30px;
}


#navigation {
 background: #A6F1A6;
 height: 3em;
 list-style: none;
 width:810px;
 border-bottom-left-radius: 15px;
 border-bottom-right-radius: 15px;
 border-top-left-radius: 15px;
 border-top-right-radius: 15px;
}

#navigation > li {
 float: left;
 height: 100%;
 margin-right: 0.5em;
 padding: 0 1em;
}

#navigation > li > a {
 height: 100%;
 color: #c60;
 text-decoration: none;
 line-height: 3;
 font-weight: bold;
 text-transform: uppercase;
}

#navigation > li > a:hover {
 color: orange;
 text-decoration: none;
}

#navigation > li.sub {
 position: relative;
}

#navigation > li.sub ul {
 width: 200px;
 margin: 0;
 padding: 0.5em 0;
 list-style: none;
 background-color: #A6F1A6;
 position: absolute;
 display: none;
 left: -20px;
 text-align: center;
 border-top: 1px solid #D3F8B4;
}

#navigation > li.sub ul li {
 width: 90%;
 margin: 0 auto 0.3em auto;
}

#navigation > li.sub ul li a {
 height: 100%;
 display: block;
 padding: 0.4em;
 color: #a40;
 font-weight: bold;
 text-decoration: none;
}

#navigation > li.sub ul li a:hover {
 background: #D3F8B4;
 text-decoration: none;
}

#navigation > li.sub:hover ul {
 display: block;
}

#myForm {
	position: relative;
	padding: 0px 20px;
	height: 180px;
}

#myForm fieldset {
	border: none;
}

.col_f_1 {
	float: left;
	width: 220px;
	display: block;
	margin-right: 70px;
}

.col_f_2 {
	float: left;
	width: 220px;
	display: block;
}

#myForm label {
	margin-top: 10px;
	display:block;
	text-align: left;
}

#myForm b{
	margin-left: 5px;
}

#myForm button {
	margin: 20px 40px;
}

#myForm input, select {
	padding: 3px;
	display: block;
	margin :2px 0 5px 0;
	width: 210px;
	background: #fff;
	color: #555; 
	border: 3px solid #e0e8c6;
		-webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	    border-radius: 5px;
		
		-moz-box-shadow: 3px 3px 3px #8ba82c;
	-webkit-box-shadow:  3px 3px 3px #8ba82c;
	box-shadow:  3px 3px 3px #8ba82c;
}

#myForm select{
	width: 220px;
}

#myForm input:hover, select:hover { 
			/* -- CSS3 Shadow - create a shadow around each input element -- */ 
	    
		-webkit-box-shadow: 0px 0px 0px #D3F8B4;
		-moz-box-shadow: 0px 0px 0px #D3F8B4; 
		box-shadow: 0px 0px 0px #D3F8B4;	
	}

.savebuttonvisable{
	position:relative;
	top:-150px;
	left:345px;
}
.savebuttonINvisable{
	display:none;
	position:relative;
	top:-150px;
	left:345px;
}

#lock_image {
	height: 16px;
	width: 16px;
	position: relative;
}

.private_game_button {
	background: transparent url(../Media/lock.png) no-repeat left;
}

.private_game_button:hover {
	background: transparent url(../Media/lock.png) no-repeat left;
}
